<ion-view title="Create a task">
<ion-content>
  <form class="list" ng-show="showForm">
	<div class="item item-divider">
	  Task Name
	</div>
	<label class="item item-input">
	  <input type="text" placeholder="Name" ng-model="task.name" />
	</label>
	<div class="item item-divider">
	  Execution Date
	</div>
	<label class="item item-input">
		<input type="date" placeholder="Date" ng-model="task.executionDate">
	</label>
	<div class="item item-divider">
	  Recurent Task ?
	</div>
	<ion-toggle ng-model="task.recurrent">
	  Recurent
	</ion-toggle>

    <div ng-hide="!task.recurrent">

        <div class="item item-divider">
           Frequency in days
        </div>
        <label class="item item-input">
            <input type="number" ng-model="task.daysFrequency">
        </label>
    </div>


    <div class="padding">
	  <button class="button button-block" ng-click="submit()">Create</button>
	</div>
  </form>

  <div ng-hide="showForm">
	<pre ng-bind="task | json"></pre>
	<a href="#/event/tasks">View tasks</a>
  </div>
</ion-content>
</ion-view>
