<ion-view title="Create a task">
<ion-content>
  <form class="list">
	<div class="list list-inset"> 
	 	<div class="item item-input-inset">
	  		<button class="button button-block" ng-click="submit()">Create</button>
	  		<button class="button button-block" ng-click="goToTasks()">Cancel</button>
		</div>


		<label class="item item-input">
		  <input type="text" placeholder="Task Name" ng-model="task.name" />
		</label>
	
		<label class="item item-input" ng-click="openDatePicker()">
         <span class="input-label">Execution Date</span>
         <input type="text" ng-model="task.executionDate">
      </label>	
              
 			
		<label class="item item-input">
			<input type="number" placeholder="Recurrency" ng-model="task.recurrency.value"/>	
			<select ng-model="task.recurrency.unit" ng-options="unit for unit in recurrencyUnits">
 				<option value=''>- units -</option>  	   	
  	   	</select>
 	    </label>			
		  		
	</div>
  </form>

</ion-content>
</ion-view>
